SF-Server/data/
SF-Server/data-alt/
SF-ESP32-Clients/build
/SF-Server/__pycache__
/SF-ESP32-Clients/SF-ESP32C3/build
/SF-ESP32-Clients/SF-ESP32S3/build
SF-ESP32-Clients/updates.md
updates.md
SF-ESP32-Clients/updates.md
SF-ESP32-Clients/updates.md
/SF-ESP32-Clients/SF-ESP32C3/build.bak
